* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(34, 34, 34);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    color: rgb(182, 182, 182);
    font-size: 90px;
}

input {
    background-color: rgb(173, 173, 173);
    border-radius: 0.5cm;
    border-style: solid;
    width: 450px;
    height: 45px;
    font-size: large;
}

.Centrilizer {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 50px;
}

p {
  color: rgb(156, 156, 156);
  font-size: xx-large;
  padding-top: 30px;
}

#output {
    display: block;
    text-align: center;
    margin-top: 20px;
}
